/* Reset Default CSS */
* {
  margin: 0;
}
#_builder-form .fields-container {
  margin: 0px !important;
  padding: 0px !important;
}

.hl-app .form-builder--item {
  padding: 0 !important;
  margin: 0 !important;
}

/* Start Form Style CSS */

/* Global Forms - Contact Us */

section#form-builder .hl-app {
  font-family: var(--font-family) !important;
}

/* Global Forms - Contact Us */

#_builder-form .col-12 label {
  font-size: var(---payment-label-fs) !important;
  line-height: var(---payment-label-lh) !important;
  letter-spacing: var(---payment-label-ls) !important;
  font-weight: var(---payment-secondp-fw) !important;
  /* display: none; */
  /* margin-top: var(---payment-label-mt);
    margin-bottom: var(---payment-label-mb); */
  color: var(--default-label-color) !important;
  font-family: var(--btn-font-family) !important;
  text-transform: var(---payment-label-ts) !important;
}
#_builder-form .col-12:not(:last-child) {
  margin-bottom: var(--input-mb) !important;
}

.hl-app #_builder-form .form-field-container input[type='email'],
.hl-app #_builder-form .form-field-container input[type='number'],
.hl-app #_builder-form .form-field-container input[type='password'],
.hl-app #_builder-form .form-field-container input[type='text'],
.hl-app #_builder-form .form-field-container textarea,
.hl-app #_builder-form .form-field-container input[type='tel'],
.hl-app #_builder-form .form-field-container .multiselect__tags {
  color: var(--input-text-clr) !important;
  font-size: var(--input-fs) !important;
  line-height: var(--input-lh) !important;
  padding: var(--input-padding) !important;
  border-radius: var(--input-radius) !important;
  font-weight: var(--input-font-weight);
  background: var(--input-bg) !important;
  border: var(--input-border-width) solid var(--input-border-color) !important;
  height: var(--input-height) !important;
  font-family: var(--font-family) !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.hl-app #_builder-form .form-field-container input[type='email']:placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='number']::-webkit-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='password']::-webkit-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='text']::-webkit-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  textarea::-webkit-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='tel']::-webkit-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  .multiselect__tags::-webkit-input-placeholder {
  color: var(--input-placehoder-clr) !important;
  font-size: var(--input-fs) !important;
  line-height: var(--input-lh) !important;
  font-weight: var(--input-font-weight);
  font-family: var(--font-family) !important;
}

.hl-app
  #_builder-form
  .form-field-container
  input[type='email']::-moz-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='number']::-moz-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='password']::-moz-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='text']::-moz-placeholder,
.hl-app #_builder-form .form-field-container textarea::-moz-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='tel']::-moz-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  .multiselect__tags::-moz-placeholder {
  color: var(--input-placehoder-clr) !important;
  font-size: var(--input-fs) !important;
  line-height: var(--input-lh) !important;
  font-weight: var(--input-font-weight);
  font-family: var(--font-family) !important;
}

.hl-app
  #_builder-form
  .form-field-container
  input[type='email']:-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='number']:-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='password']:-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='text']:-ms-input-placeholder,
.hl-app #_builder-form .form-field-container textarea:-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='tel']:-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  .multiselect__tags:-ms-input-placeholder {
  color: var(--input-placehoder-clr) !important;
  font-size: var(--input-fs) !important;
  line-height: var(--input-lh) !important;
  font-weight: var(--input-font-weight);
  font-family: var(--font-family) !important;
}

.hl-app
  #_builder-form
  .form-field-container
  input[type='email']::-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='number']::-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='password']::-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='text']::-ms-input-placeholder,
.hl-app #_builder-form .form-field-container textarea::-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='tel']::-ms-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  .multiselect__tags::-ms-input-placeholder {
  color: var(--input-placehoder-clr) !important;
  font-size: var(--input-fs) !important;
  line-height: var(--input-lh) !important;
  font-weight: var(--input-font-weight);
  font-family: var(--font-family) !important;
}

.hl-app #_builder-form .form-field-container input[type='email']::placeholder,
.hl-app #_builder-form .form-field-container input[type='number']::placeholder,
.hl-app
  #_builder-form
  .form-field-container
  input[type='password']::placeholder,
.hl-app #_builder-form .form-field-container input[type='text']::placeholder,
.hl-app #_builder-form .form-field-container textarea::placeholder,
.hl-app #_builder-form .form-field-container input[type='tel']::placeholder,
.hl-app #_builder-form .form-field-container .multiselect__tags::placeholder {
  color: var(--input-placehoder-clr) !important;
  font-size: var(--input-fs) !important;
  line-height: var(--input-lh) !important;
  font-weight: var(--input-font-weight);
  font-family: var(--font-family) !important;
  overflow: visible !important;
}

body .hl-app #_builder-form .multi_select_form .multiselect__option {
  font-size: var(--input-fs) !important;
  font-family: var(--font-family) !important;
}

body .hl-app #_builder-form .multi_select_form .multiselect__option--selected {
  font-weight: var(--input-font-weight) !important;
  font-family: var(--font-family) !important;
}

body
  .hl-app
  .multi_select_form
  .multiselect__option--selected.multiselect__option--highlight,
body .hl-app .multi_select_form .multiselect__option--highlight:hover,
body .hl-app .multi_select_form .multiselect__option--highlight:focus,
body .hl-app .multi_select_form .multiselect__option--highlight:active,
body
  .hl-app
  .multi_select_form
  .multiselect__option--selected.multiselect__option--highlight {
  color: var(--select-dropdown-hover-clr) !important;
  background-color: var(--select-dropdown-hover-bg) !important;
  font-size: var(--input-fs) !important;
  line-height: var(--input-lh) !important;
  -webkit-transition: 0.3s ease !important;
  -o-transition: 0.3s ease !important;
  transition: 0.3s ease !important;
}
body .hl-app .form-field-container textarea {
  height: 140px !important;
  resize: none !important;
}
/* ==========================================================   Border Radius For Mobile Textarea ===================================== */

.hl-app span.multiselect__single {
  background: var(--white);
  margin-bottom: 0 !important;
}

body .hl-app .form-control:active:focus,
body .hl-app .form-control:focus {
  background-color: transparent !important;
}

.hl-app #_builder-form .form-field-container input::-webkit-input-placeholder,
.hl-app
  #_builder-form
  .form-field-container
  textarea::-webkit-input-placeholder {
  color: var(--input-text-clr) !important;
}
.form-field-container select {
  max-width: 100% !important;
}

/*Contact Us Phone Field*/
body .form-field-container .countryphone {
  height: auto !important;
}
body .iti--allow-dropdown input,
body .hl-app .form-field-container input[type='tel'] {
  padding-left: 70px !important;
}
body .form-field-container .iti__flag-container {
  left: 22px !important;
}
body.tab_styles .form-field-container .iti__flag-container,
body.mobile_styles .form-field-container .iti__flag-container {
  left: 7px !important;
}

body.tab_styles .iti--allow-dropdown input,
body.mobile_styles .iti--allow-dropdown input,
body.tab_styles .hl-app .form-field-container input[type='tel'],
body.mobile_styles .hl-app .form-field-container input[type='tel'] {
  padding-left: 60px !important;
}

body .form-field-container input[type='text']:focus {
  background: transparent;
  color: inherit;
}

/*========================== CSS for Payment First Page =============>| ========================== */

/* Selector Options Width */
.hl-app .multiselect__content-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  padding: 8px 0px !important;
}

/* CheckBox Lable Style  Start */

body #_builder-form .col-12 .option-radio label,
body #_builder-form .col-12 .in-r-c label {
  padding-left: 0;
  font-size: var(--input-fs) !important;
  font-weight: var(--input-font-weight) !important;
  line-height: var(--input-lh) !important;
  /* letter-spacing: var(--checkbox-label-l-space) !important; */
  color: var(--checkbox-label-color) !important;
  display: block !important;
  /* margin-top: var(---payment-label-mt) !important; */
  /* margin-bottom: var(---payment-label-mb) !important; */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-family: var(--font-family) !important;
  text-transform: unset !important;
}

body #_builder-form .col-12 .option-radio label {
  margin-top: 0 !important;
}

#hl_form_builder_main .hl-app .option-radio label:before,
#hl_form_builder_main .hl-app .option-radio label:after {
  border: 2px solid var(--checkbox-border-bg-color) !important;
}
body .hl-app .option-radio input[type='radio'],
body .hl-app .in-r-c input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px !important;
  height: 25px !important;
  background-color: transparent;
  border-radius: var(--checkbox-border-radius) !important;
  border: 2.5px solid var(--checkbox-border-bg-color) !important;
}

body .hl-app .option-radio input[type='radio']:checked,
body .hl-app .in-r-c input[type='checkbox']:checked {
  background-color: var(--checkbox-border-bg-color);
  background-image: url(https://live-leiss-hendrix-ortho.pantheonsite.io/wp-content/uploads/2022/08/check.svg);
  background-size: 12px 10px;
  background-position-x: 4px;
  background-position-y: 47%;
  background-repeat: no-repeat;
  z-index: 3;
}

#hl_form_builder_main .hl-app .option label:before {
  padding: 0 !important;
}

#_builder-form .option-radio {
  width: 90px;
  display: inline-block !important;
}

.form-field-container .hl-app .in-r-c {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  margin-bottom: 0 !important;
}

body.mobile_styles .form-field-container .hl-app .in-r-c {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

/* ============================== CSS FOR second page payment=============================== */

body .form-field-container p#palc_payment_amount {
  padding: var(--calc-box-padding) !important;
  border-radius: var(--calc-info-border-radius) !important;
  display: inline-block;
  font-size: var(--calc-info-desc-fs) !important;
  line-height: var(--calc-info-desc-lh) !important;
  font-weight: var(--calc-info-desc-font-weight) !important;
  background-color: var(--calc-box-bg) !important;
  color: var(--calc-info-text-color) !important;
  font-family: var(--font-family) !important;
}

body .hl-app #_builder-form .form-field-container p#palc_payment_amount span {
  display: block;
  font-size: var(--calc-calc-fs) !important;
  line-height: var(--calc-calc-lh) !important;
  font-weight: var(--calc-calc-font-weight) !important;
  letter-spacing: var(--calc-calc-l-s) !important;
  margin-top: 4px !important;
  font-family: var(--btn-font-family) !important;
  text-transform: var(--calc-info-ts) !important;
}

/* CheckBox Lable Style  ENd */
/* Start Color */

#_builder-form .col-12 label span {
  color: var(--requierd-star-clr);
}

/* Hide Captca Title */

.col-12:nth-child(8) label {
  display: none;
}

/* Css For Select Field */

.hl-app .multi_select_form .multiselect__placeholder {
  padding: 0 !important;
  min-height: unset !important;
}

.multiselect,
.multiselect__tags {
  min-height: unset !important;
}

/* .hl-app .multi_select_form .multiselect__select,
.hl-app input.multiselect__input {
  display: none !important;
} */
.hl-app .multi_select_form .multiselect__placeholder {
  color: var(--input-text-clr) !important;
}
.multiselect__tags,
.multiselect__select,
.hl-app .multiselect__content-wrapper,
.hl-app .multi_select_form .multiselect__single {
  padding: unset !important;
}

body .hl-app .multi_select_form .multiselect__single,
body .hl-app .multi_select_form .multiselect__option {
  color: var(--input-text-clr) !important;
  font-size: var(--input-fs) !important;
  line-height: var(--input-lh) !important;
  margin-bottom: 0 !important;
}

body .hl-app .multi_select_form span.multiselect__single {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: calc(100% - 20px) !important;
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
  height: var(--input-height) !important;
}

body .hl-app .multi_select_form .multiselect__tags input {
  display: none !important;
}

/* ++++++++++++++++++++++++++++++++     Dropdown arrow      +++++++++++++++++++++ */

#_builder-form .multiselect__select:before {
  display: none !important;
  content: none !important;
}

.form-builder--item .multiselect {
  position: relative !important;
}

.form-builder--item .multiselect .multiselect__select {
  background: url(https://live-charleston-ortho.pantheonsite.io/wp-content/uploads/2022/04/arrow-down.svg)
    no-repeat center center/contain !important;
  background-size: var(---arrow-fs) !important;
  position: absolute;
  right: var(--arrow-mr) !important;
  top: 50% !important;
  line-height: 40px;
  margin-top: -20px;
}

/* ++++++++++++++++++++++++++++++++     Button Style Start      +++++++++++++++++++++ */

/* Privacy Policy  */

body #_builder-form .col-12 .in-r-c label a {
  color: var(--privary-txt-clr) !important;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: var(--privary-txt-fw) !important;
}
body #_builder-form .col-12 .in-r-c label a:hover {
  color: var(--privary-txt-hover-clr) !important;
}
/* ++++++++++++++++++++++++++++++++     Button Style Start      +++++++++++++++++++++ */

#_builder-form button {
  padding: var(--btn-padding) !important;
  border-radius: var(--btn-border-radius) !important;
  text-transform: var(--btn-tt) !important;
  color: var(--btn-txt-color) !important;
  background-color: var(--btn-bg-color) !important;
  -webkit-transition: var(--btn-transition) !important;
  -o-transition: var(--btn-transition) !important;
  transition: var(--btn-transition) !important;
  border-color: var(--btn-border-color) !important;
  margin-top: var(--btn-mt) !important;
  position: relative;
  border-width: var(--btn-border-width) !important;
  border-style: var(--btn-border-style) !important;
}

#_builder-form button div {
  font-family: var(--btn-font-family) !important;
  font-size: var(--btn-fs) !important;
  line-height: var(--btn-ln) !important;
  letter-spacing: var(--btn-letter-space) !important;
  font-weight: var(--btn-fw) !important;
  color: var(--btn-txt-color) !important;
  -webkit-transition: var(--btn-transition) !important;
  -o-transition: var(--btn-transition) !important;
  transition: var(--btn-transition) !important;
}

#_builder-form button:hover {
  background-color: var(--btn-bg-hover-color) !important;
}
#_builder-form button:hover div,
#_builder-form button:focus div {
  color: var(--btn-txt-hover-color) !important;
}

/* ======================== Button Custom Style =================== */

/* Common CSS FOR BTN */

/* For Desktop */
/* body.desk_styles = USE THIS CLASS FOR BTN RESPONSIVE FOR DESKTOP  */

/* For Tablet */

/* body.tab_styles = USE THIS CLASS FOR BTN RESPONSIVE FOR TABLET */

/* For Mobile */

/* body.mobile_styles = USE THIS CLASS FOR BTN RESPONSIVE FOR MOBILE  */

@media screen and (max-width: 410px) {
  body.mobile_styles .hl-app .in-r-c {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  body.mobile_styles .hl-app .in-r-c input[type='checkbox'] {
    margin-top: 6px !important;
  }
}

/* body.desk_styles #_builder-form .col-12:nth-last-child(2) {
  margin-bottom: 0 !important;
} */
body #_builder-form .col-12:nth-last-child(3) {
  margin-bottom: 0 !important;
}

body.mobile_styles .hl-app .option-radio input[type='radio'],
body.mobile_styles .hl-app .in-r-c input[type='checkbox'] {
  width: 20px !important;
  height: 20px !important;
}

body .hl-app .input-group > .input-group-prepend > .input-group-text {
  background: transparent !important;
  color: #0d0012 !important;
  border: none !important;
}

#_builder-form .col-12 .form-builder--item input::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.5) !important;
}

#_builder-form .col-12 .form-builder--item input::-moz-placeholder {
  color: rgba(34, 34, 34, 0.5) !important;
}

#_builder-form .col-12 .form-builder--item input:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5) !important;
}

#_builder-form .col-12 .form-builder--item input::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5) !important;
}

#_builder-form .col-12 .form-builder--item input::placeholder {
  color: rgba(34, 34, 34, 0.5) !important;
}
#_builder-form .col-12:nth-child(1) {
  display: none;
}

#_builder-form .fields-container .col-12:nth-child(2) label {
  margin-top: 0 !important;
}

.form-top-padding {
  padding-top: 0 !important;
}
body.mobile_styles .hl-app .option-radio input[type='radio']:checked,
body.mobile_styles .hl-app .in-r-c input[type='checkbox']:checked {
  background-position-x: 2px;
}

body.mobile_styles #_builder-form .col-12 .option-radio label,
body.mobile_styles #_builder-form .col-12 .in-r-c label {
  margin-top: 5px !important;
}

body.desk_styles #_builder-form .col-12:nth-last-child(4),
body.tab_styles #_builder-form .col-12:nth-last-child(4) {
  margin-top: var(--input-mb) !important;
  /* margin-bottom: calc(var(--input-mb) + var(--input-mb)) !important; */
}

.hl_form-builder--main {
  padding: 0 !important;
}

body .hl-app .input-group > .input-group-prepend > .input-group-text {
  padding-top: 2px !important;
}

body .hl-app .input-group-append,
.hl-app .input-group-prepend {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

body.tab_styles .form-builder--item:first-child .in-r-c {
  margin-bottom: 24px !important;
}

body.mobile_styles .form-builder--item:first-child .in-r-c {
  margin-bottom: 20px !important;
}

body .hl-app .input-group > .input-group-prepend > .input-group-text {
  padding-left: 0 !important;
}

body.mobile_styles
  .hl-app
  .input-group
  > .input-group-prepend
  > .input-group-text {
  padding-top: 0px !important;
  position: relative !important;
  top: -1px !important;
}
body #_builder-form .col-12:nth-last-child(4) {
  margin-top: 0 !important;
}

#_builder-form .col-12:nth-last-child(5) {
  margin-bottom: 0 !important;
}

.hl-app .menu-field-wrap {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hl-app .form-builder--wrap {
  padding: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
