/* Reset Default CSS */
* {
    margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background: var(--input-bg) !important;
}
#_builder-form .fields-container {
    margin: 0px !important;
    padding: 0px !important;
}
.hl-app {
    padding: 0 !important;
}
.hl-app .form-builder--item {
    padding: 0 !important;
    margin: 0 !important;
}

/* Start Form Style CSS */

/* Global Forms - Contact Us */

section#form-builder .hl-app {
    font-family: var(--font-family) !important;
}

/* Global Forms - Contact Us */

#_builder-form .fields-container .col-12 label {
    font-size: var(--default-label-fs) !important;
    line-height: var(--default-lable-lh) !important;
    letter-spacing: var(--default-label-ltr-space) !important;
    font-weight: var(---default-fw) !important;
    display: none;
    margin-top: var(--default-label-mt);
    margin-bottom: var(--default-label-mb);
}

#_builder-form .fields-container .col-12 p {
    margin-top: var(--default-label-mt) !important;
    margin-bottom: var(--default-label-mb) !important;
}
#_builder-form .fields-container .col-12:not(:last-child) {
    margin-bottom: var(--input-mb) !important;
}

.hl-app #_builder-form .fields-container .form-field-container input[type="email"],
.hl-app #_builder-form .fields-container .form-field-container input[type="number"],
.hl-app #_builder-form .fields-container .form-field-container input[type="password"],
.hl-app #_builder-form .fields-container .form-field-container input[type="text"],
.hl-app #_builder-form .fields-container .form-field-container textarea,
.hl-app #_builder-form .fields-container .form-field-container input[type="tel"],
.hl-app #_builder-form .fields-container .form-field-container .multiselect__tags {
    /* color: var(--input-text-clr) !important; */
    font-size: var(--input-fs) !important;
    line-height: var(--input-lh) !important;
    padding: var(--input-padding) !important;
    border-radius: var(--input-radius) !important;
    font-weight: var(--input-font-weight);
    background: var(--input-bg) !important;
    border: var(--input-border-width) solid var(--input-border-color) !important;
    height: var(--input-height) !important;
    font-family: var(--font-family) !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

body .hl-app #_builder-form .fields-container .form-field-container .multiselect__tags {
    background-color: transparent !important;
}

.hl-app #_builder-form .fields-container .form-field-container input[type="email"]::placeholder,
.hl-app #_builder-form .fields-container .form-field-container input[type="number"]::placeholder,
.hl-app #_builder-form .fields-container .form-field-container input[type="password"]::placeholder,
.hl-app #_builder-form .fields-container .form-field-container input[type="text"]::placeholder,
.hl-app #_builder-form .fields-container .form-field-container textarea::placeholder,
.hl-app #_builder-form .fields-container .form-field-container input[type="tel"]::placeholder,
.hl-app #_builder-form .fields-container .form-field-container .multiselect__tags,
body .hl-app #_builder-form .fields-container .multi_select_form .multiselect__option {
    font-family: var(--font-family) !important;
    /* color: var(--input-text-clr) !important; */
    font-size: var(--input-fs) !important;
    line-height: var(--input-lh) !important;
    background-color: var(--input-bg) !important;
}

body .hl-app #_builder-form .fields-container .multi_select_form .multiselect__option {
    font-size: var(--input-fs) !important;
}

body .hl-app #_builder-form .fields-container .form-builder--item .multiselect__placeholder {
    font-family: var(--font-family) !important;
    font-size: var(--input-fs) !important;
    line-height: var(--input-lh) !important;
}

body .hl-app #_builder-form .fields-container .form-field-container textarea {
    height: 140px !important;
    resize: none !important;
}
/* ==========================================================   Border Radius For Mobile Textarea ===================================== */

.hl-app span.multiselect__single {
    background: var(--white);
    margin-bottom: 0 !important;
}

body .hl-app .form-control:active:focus,
body .hl-app .form-control:focus {
    background-color: transparent !important;
}

.hl-app .form-field-container input::-webkit-input-placeholder,
.hl-app .form-field-container textarea::-webkit-input-placeholder {
    color: var(--input-text-clr) !important;
}
.form-field-container select {
    max-width: 100% !important;
}

/*Contact Us Phone Field*/

body .form-field-container .countryphone {
    height: auto !important;
}
body .hl-app #_builder-form .fields-container .iti--allow-dropdown input,
body .hl-app #_builder-form .fields-container .form-field-container input[type="tel"] {
    padding-left: 40px !important;
}
body .form-field-container .iti__flag-container {
    left: 22px !important;
}
body.tab_styles .form-field-container .iti__flag-container,
body.mobile_styles .form-field-container .iti__flag-container {
    left: 7px !important;
}

body.mobile_styles .hl-app #_builder-form .fields-container .iti--allow-dropdown input,
body.mobile_styles .hl-app #_builder-form .fields-container .form-field-container input[type="tel"] {
    padding-left: 40px !important;
}

body.tab_styles .hl-app #_builder-form .fields-container .iti--allow-dropdown input,
body.tab_styles .hl-app #_builder-form .fields-container .form-field-container input[type="tel"] {
    padding-left: 50px !important;
}

body.tab_styles .iti--allow-dropdown input,
body.mobile_styles .iti--allow-dropdown input,
body.tab_styles .hl-app .form-field-container input[type="tel"],
body.mobile_styles .hl-app .form-field-container input[type="tel"] {
    padding-left: 60px !important;
}

body .form-field-container input[type="text"]:focus {
    background: transparent;
    color: inherit;
}

/*========================== CSS for Payment First Page =============>| ========================== */

/* Selector Options Width */
.hl-app .multiselect__content-wrapper {
    width: 100% !important;
    max-width: 100% !important;
    padding: 8px 0px !important;
}

/* CheckBox Lable Style  Start */

body #_builder-form .fields-container .col-12 .option-radio label,
body #_builder-form .fields-container .col-12 p {
    padding-left: 0;
    font-size: var(--checkbox-label-fs) !important;
    font-weight: var(--checkbox-label-font-weight) !important;
    line-height: var(--checkbox-label-lh) !important;
    letter-spacing: var(--checkbox-label-l-space) !important;
    color: var(--checkbox-label-color) !important;
    display: block !important;
    font-family: var(--font-family) !important;
}

body #_builder-form .fields-container .col-12 .option-radio label {
    margin-top: 0 !important;
}

#hl_form_builder_main .hl-app .option-radio label:before,
#hl_form_builder_main .hl-app .option-radio label:after {
    border: 2px solid var(--checkbox-border-bg-color) !important;
}
body .hl-app .option-radio input[type="radio"],
body .hl-app .terms-and-conditions input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px !important;
    height: 25px !important;
    background-color: transparent;
    border-radius: var(--checkbox-border-radius) !important;
    border: 2.5px solid var(--checkbox-border-bg-color) !important;
}

body .hl-app .option-radio input[type="radio"]:checked,
body .hl-app .terms-and-conditions input[type="checkbox"]:checked {
    background-color: var(--checkbox-border-bg-color);
    background-image: url(https://hipdevteam.gitlab.io/pb-forms/assets/img/checkbox.svg);
    background-size: 12px 10px;
    background-position-x: 4px;
    background-position-y: 48%;
    background-repeat: no-repeat;
    z-index: 3;
}

#hl_form_builder_main .hl-app .option label:before {
    padding: 0 !important;
}

#_builder-form .fields-container .option-radio {
    width: 90px;
    display: inline-block !important;
}

body.mobile_styles .form-field-container .hl-app .in-r-c {
    align-items: flex-start !important;
}

/* CheckBox Lable Style  ENd */
/* Start Color */

#_builder-form .fields-container .col-12 label span {
    color: var(--requierd-star-clr);
}

/* Hide Captca Title */

.col-12:nth-child(8) label {
    display: none;
}

/* Css For Select Field */

.hl-app .multi_select_form .multiselect__placeholder {
    padding: 0 !important;
    min-height: unset !important;
}

.multiselect,
.multiselect__tags {
    min-height: unset !important;
}

/* .hl-app .multi_select_form .multiselect__select,
.hl-app input.multiselect__input {
  display: none !important;
} */
.hl-app .multi_select_form .multiselect__placeholder {
    color: var(--input-text-clr) !important;
}
.multiselect__tags,
.multiselect__select,
.hl-app .multiselect__content-wrapper,
.hl-app .multi_select_form .multiselect__single {
    padding: unset !important;
}

body .hl-app .multi_select_form .multiselect__single,
body .hl-app .multi_select_form .multiselect__option {
    font-size: var(--input-fs) !important;
    line-height: var(--input-lh) !important;
    margin-bottom: 0 !important;
    transition: var(--btn-transition) !important;
}

body .hl-app #_builder-form .fields-container .multi_select_form .multiselect__option--selected,
body .hl-app #_builder-form .fields-container .multi_select_form .multiselect__option--highlight:hover {
    color: var(--select-dropdown-hover-clr) !important;
    background-color: var(--select-dropdown-hover-bg) !important;
    font-size: var(--input-fs) !important;
    line-height: var(--input-lh) !important;
    font-weight: var(--input-font-weight) !important;
    transition: var(--btn-transition) !important;
}
body .hl-app #_builder-form .fields-container .multi_select_form span.multiselect__single {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 20px) !important;
    font-family: var(--font-family) !important;
    color: var(--input-text-clr) !important;
    font-size: var(--input-fs) !important;
    line-height: var(--input-lh) !important;
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
    height: var(--input-height) !important;
}

body .hl-app .multi_select_form .multiselect__tags input {
    display: none !important;
}

/* ++++++++++++++++++++++++++++++++     Dropdown arrow      +++++++++++++++++++++ */

#_builder-form .fields-container .multiselect__select:before {
    display: none !important;
    content: none !important;
}

.form-builder--item .multiselect {
    position: relative !important;
}

.form-builder--item .multiselect .multiselect__select {
    background: url(https://live-charleston-ortho.pantheonsite.io/wp-content/uploads/2022/04/arrow-down.svg) no-repeat top right/contain !important;
    background-size: var(--arrow-fs) !important;
    position: absolute;
    right: 0;
    top: 50% !important;
    line-height: 40px;

    margin-top: -10px;
}

/* ++++++++++++++++++++++++++++++++   Privacy  Label Style Start      +++++++++++++++++++++ */

/* Privacy Policy  */

body #_builder-form .fields-container .col-12 p a {
    color: var(--privacy-txt-clr) !important;
    transition: 0.3s ease-in-out;
    font-weight: var(--privacy-txt-fw) !important;
    letter-spacing: var(--privacy-txt-l-space) !important;
    display: inline-block !important;
}
body #_builder-form .fields-container .col-12 p a:hover {
    color: var(--privacy-txt-hover-clr) !important;
}

/* ++++++++++++++++++++++++++++++++     Button Style Start      +++++++++++++++++++++ */

#_builder-form .fields-container button:not(.vdpArrow) {
    padding: var(--btn-padding) !important;
    border-radius: var(--btn-border-radius) !important;
    text-transform: var(--btn-tt) !important;

    background-color: var(--btn-bg-color) !important;
    transition: var(--btn-transition) !important;
    border-color: var(--btn-border-color) !important;
    margin-top: var(--btn-mt) !important;
    position: relative;
    border-width: var(--btn-border-width) !important;
    border-style: var(--btn-border-style) !important;
}
#_builder-form .fields-container .vdpPeriodControls button,
#_builder-form .fields-container .date-picker-custom-style button.vdpClearInput {
    padding: unset !important;
    border-radius: unset !important;
    text-transform: unset !important;
    background-color: unset !important;
    transition: unset !important;
    border-color: unset !important;
    margin-top: unset !important;
    position: relative;
    border-width: unset !important;
    border-style: unset !important;
}
#_builder-form .fields-container button div {
    font-family: var(--btn-font-family) !important;
    font-size: var(--btn-fs) !important;
    line-height: var(--btn-ln) !important;
    letter-spacing: var(--btn-letter-space) !important;
    font-weight: var(--btn-fw) !important;
    color: var(--btn-txt-color) !important;
    transition: var(--btn-transition) !important;
}

#_builder-form .fields-container button:hover,
#_builder-form button:focus {
    background-color: var(--btn-bg-hover-color) !important;
    border-color: var(--btn-border-hover-color) !important;
}
#_builder-form .fields-container button:hover div,
#_builder-form .fields-container button:focus div {
    color: var(--btn-txt-hover-color) !important;
}

/* ======================== Button Custom Style =================== */

/* Common CSS FOR BTN */

/* For Desktop */
/* body.desk_styles = USE THIS CLASS FOR BTN RESPONSIVE FOR DESKTOP  */

/* For Tablet */

/* body.tab_styles = USE THIS CLASS FOR BTN RESPONSIVE FOR TABLET */

body.tab_styles .hl-app .option-radio input[type="radio"],
body .hl-app .terms-and-conditions input[type="checkbox"] {
    position: relative !important;
    top: -1px !important;
}

body.tab_styles #_builder-form .fields-container .col-12:nth-last-child(2),
body.tab_styles #_builder-form .fields-container .col-12:nth-last-child(3),
body.tab_styles #_builder-form .fields-container .col-12:nth-last-child(4) {
    margin-bottom: 0 !important;
}

/* For Mobile */

/* body.mobile_styles = USE THIS CLASS FOR BTN RESPONSIVE FOR MOBILE  */

body.mobile_styles #_builder-form .fields-container .col-12:nth-last-child(2),
body.mobile_styles #_builder-form .fields-container .col-12:nth-last-child(3),
body.mobile_styles #_builder-form .fields-container .col-12:nth-last-child(4) {
    margin-bottom: 0 !important;
}

body.desk_styles #_builder-form .fields-container .col-12:nth-last-child(3),
body.desk_styles #_builder-form .fields-container .col-12:nth-last-child(4) {
    margin-bottom: 0 !important;
}

body.mobile_styles .hl-app .option-radio input[type="radio"],
body.mobile_styles .hl-app .terms-and-conditions input[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
}

body.mobile_styles .hl-app .option-radio input[type="radio"]:checked,
body.mobile_styles .hl-app .terms-and-conditions input[type="checkbox"]:checked {
    background-position-x: 2px;
}

body.tab_styles .hl-app .terms-and-conditions input[type="checkbox"] {
    position: relative !important;
    top: 14px !important;
}

body.mobile_styles .hl-app .terms-and-conditions input[type="checkbox"] {
    top: 0px !important;
}

body .hl-app .terms-and-conditions input[type="checkbox"] {
    position: relative !important;
    top: 16px !important;
}

.hl-app .in-r-c {
    align-items: flex-start !important;
    display: flex !important;
    margin-bottom: 5px;
}

body .hl-app #_builder-form .fields-container .form-field-container .iti__flag-container {
    left: 0 !important;
}

body .hl-app #_builder-form .fields-container .form-field-container .iti__selected-flag {
    padding: 0 !important;
    position: relative;
    top: -8px !important;
}

body.tab_styles .hl-app #_builder-form .fields-container .form-field-container .iti__selected-flag {
    padding: 0 !important;
    position: relative;
    top: -8px !important;
}

body.mobile_styles .hl-app #_builder-form .fields-container .form-field-container .iti__selected-flag {
    top: -4px !important;
}

body.tab_styles .hl-app #_builder-form .fields-container .form-field-container .iti__selected-flag {
    padding: 0 !important;
    position: relative;
    top: -7px !important;
}

section#hl_form_builder_main,
.hl_form-builder--main,
.hl-app .form-builder--wrap,
.hl_form-builder--main,
body .hl_form-builder--main,
.hl_form-builder--main {
    padding: 0 !important;
}

.hl-app .in-r-c {
    align-items: flex-start !important;
}
body .hl-app .terms-and-conditions input[type="checkbox"] {
    position: relative !important;
    top: 20px !important;
}

body #_builder-form .fields-container .col-12 p {
    font-size: var(--privacy-label-fs) !important;
    line-height: var(--privacy-label-lh) !important;
    letter-spacing: var(--privacy-label-l-space) !important;
}

body.mobile_styles #_builder-form .fields-container .col-12 p {
    margin-top: 0 !important;
}

body.tab_styles .hl-app .terms-and-conditions input[type="checkbox"] {
    position: relative !important;
    top: 20px !important;
}

body.mobile_styles .hl-app .terms-and-conditions input[type="checkbox"] {
    position: relative !important;
    top: 3px !important;
}

.hl-app .in-r-c {
    align-items: flex-start !important;
}

.multiselect--active .multiselect__select {
    transform: unset !important;
}

#_builder-form .fields-container .form-builder--item .date-picker-custom-style {
    padding: 0 !important;
    border: none !important;
}

html body #_builder-form .fields-container {
    padding: 0 !important;
}
